<h3 class="column">Featured Floors</h3>
<div class="column">
    <ul class="floor-grid no-bullet row">
        <% @floors.each do |floor| %>
        <li class="large-3 medium-4 small-12 row">
            <div class="floor-card padly">
                <%= link_to floor, class: "poster" do%>
                    <%= image_tag floor.poster %>
                <% end %>
                <div class="floor-info ell glassy-bg padmy padlx">
                    <div class="title">
                        <h6>
                            <%= floor.title %> <span>(<%= floor.release_year %>) </span>
                        </h6>
                    </div>
                        <p class="left price label floor-label radius">$ <%= floor.price %></p>
                        <%= link_to floor.details, class: "right" do %>
                            <%= image_tag asset_path("details_logo.png") %>
                        <% end %>
                </div>
            </div>
        </li>
        <% end %>
    </ul>
</div>